<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="lrf_gazebo_v0" params="name min_rad max_rad min_range max_range">
	  <gazebo reference="${name}">
	    <selfCollide>true</selfCollide>
      <sensor type="ray" name="${name}_sensor">
		    <pose>0 0 0 0 0 0</pose>
		    <visualize>true</visualize>
		    <update_rate>10</update_rate>
		    <ray>
          <scan>
			      <horizontal>
              <samples>2</samples>
              <resolution>1</resolution>
              <min_angle>${min_rad}</min_angle>
              <max_angle>${max_rad}</max_angle>
			      </horizontal>
          </scan>
          <range>
			      <min>${min_range}</min>
			      <max>${max_range}</max>
			      <resolution>0.01</resolution>
          </range>
          <noise>
			      <type>gaussian</type>
			      <mean>0.00</mean>
			      <stddev>0.000</stddev>
          </noise>
		    </ray>
		    <plugin name="gazebo_ros_${name}_controller" filename="libgazebo_ros_laser.so">
          <topicName>${name}/scan</topicName>
          <frameName>${name}</frameName>
		    </plugin>
      </sensor>
	  </gazebo>
  </xacro:macro>
</robot>
