<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">  
  <xacro:macro name="motor_gazebo_v0" params="name">
	  <gazebo reference="${name}">
	    <selfCollide>true</selfCollide>
      <mu1 value="0.1" />
      <mu2 value="0.1" />
    </gazebo>
    
    <gazebo reference="${name}_rotation_link">
      <selfCollide>true</selfCollide>
      <mu1 value="1.0" />
      <mu2 value="1.0" />
    </gazebo>
    
  </xacro:macro>
</robot>
