<launch>

  <node name="stage_mouse" pkg="stage_ros" type="stageros" args="$(find micro_mouse)/worlds/test_stage_robots.world"/>
  <node name="scan_to_light_robot1" pkg="micro_mouse" type="scan_to_light.py">
    <remap from="/base_scan" to="/robot_0/base_scan"/>
    <remap from="/mouse/R" to="/robot_0/R"/>
    <remap from="/mouse/FR" to="/robot_0/FR"/>
    <remap from="/mouse/F" to="/robot_0/F"/>
    <remap from="/mouse/FL" to="/robot_0/FL"/>
    <remap from="/mouse/L" to="/robot_0/L"/>
  </node>
  <node name="scan_to_light_robot2" pkg="micro_mouse" type="scan_to_light.py">
    <remap from="/mouse/R" to="/robot_1/R"/>
    <remap from="/mouse/FR" to="/robot_1/FR"/>
    <remap from="/mouse/F" to="/robot_1/F"/>
    <remap from="/mouse/FL" to="/robot_1/FL"/>
    <remap from="/mouse/L" to="/robot_1/L"/>
    <remap from="/base_scan" to="/robot_1/base_scan"/>
  </node>

</launch>
